/* CSS Gerado Automáticamente com compilador LESS */
@import url('https://fonts.googleapis.com/css?family=Montserrat');
/* Básico - Desktop */
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
html {
  scroll-behavior: smooth;
}
body {
  width: 100%;
  font-family: 'Montserrat', sans-serif;
  font-size: 1rem;
  line-height: 1;
  display: flex;
  flex-flow: row nowrap;
}
a {
  cursor: pointer;
  text-decoration: none;
}
h1,
h2 {
  margin: 1.5rem 1rem 1rem 1rem;
  font-size: 2rem;
}
h2 {
  font-size: 1.6rem;
  font-weight: normal;
}
/* Básico - Mobile */
/* Menu Fixo - Desktop */
.menu-fixo {
  position: fixed;
  top: 0;
  left: 0;
  width: 3.7rem;
  height: 100%;
  padding: 1.5rem 0;
  background: #111;
  color: #FFF;
  z-index: 20;
  user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  -webkit-user-select: none;
}
.menu-fixo ul,
.div-menu-movel nav ul {
  width: 1.8rem;
  height: 100%;
  margin: 0 auto;
  list-style: none;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
.menu-fixo li,
.div-menu-movel nav li {
  margin-bottom: 1.5rem;
}
.menu-fixo li.final,
.div-menu-movel nav li.final {
  margin: auto 0 0 0;
}
.menu-fixo li.final:last-child,
.div-menu-movel nav li.final:last-child {
  margin: 1.5rem 0 0 0;
}
.menu-fixo li a,
.div-menu-movel nav li a {
  margin: -1rem;
  padding: 1rem;
  outline: 0;
  display: flex;
  flex-wrap: nowrap;
  align-items: center;
  color: #FFF;
}
.menu-fixo li a.active img {
  filter: invert(82%) sepia(21%) saturate(5895%) hue-rotate(177deg) brightness(92%) contrast(81%);
}
.menu-fixo img {
  width: 1.8rem;
  height: 1.8rem;
  filter: invert(75%) sepia(96%) saturate(1%) hue-rotate(327deg) brightness(97%) contrast(97%);
}
.menu-fixo span {
  display: none;
}
/* Menu Fixo - Mobile */
@media only screen and (max-width: 720px) {
  .menu-fixo {
    width: 100%;
    height: 5.5rem;
    padding: 0 1.5rem;
  }
  .menu-fixo ul,
  .div-menu-movel nav ul {
    width: 100%;
    margin: 0;
    flex-direction: row;
    align-items: center;
  }
  .menu-fixo li,
  .div-menu-movel nav li {
    margin: 0;
    display: none;
  }
  .menu-fixo li:first-child,
  .menu-fixo li.final,
  .div-menu-movel nav li.final {
    display: block;
  }
  .menu-fixo li.final,
  .div-menu-movel nav li.final {
    margin: auto 0 auto auto;
  }
  .menu-fixo li.final:last-child,
  .div-menu-movel nav li.final:last-child {
    margin: auto 0 auto 1.5rem;
  }
  .menu-fixo img {
    width: 2rem;
    height: 2rem;
  }
  .menu-fixo span {
    display: block;
    font-size: 1.6rem;
    margin-left: 1rem;
  }
}
/* Menu Móvel - Desktop */
.div-menu-movel {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 3.7rem;
  overflow: hidden;
  pointer-events: none;
  z-index: 10;
}
.div-menu-movel nav {
  width: 18rem;
  height: 100%;
  padding: 1.5rem 0 1.5rem 0;
  background: #111;
  transform: translateX(-20rem);
  will-change: transform;
  user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  -webkit-user-select: none;
}
.div-menu-movel nav ul {
  width: 100%;
}
.div-menu-movel nav li a {
  height: 1.8rem;
  box-sizing: unset;
}
.div-menu-movel nav li a.active {
  color: #6DA8D6;
}
.div-menu-movel nav span {
  font-size: 1.4rem;
  margin-left: 1rem;
}
/* Menu Móvel - Mobile */
@media only screen and (max-width: 720px) {
  .div-menu-movel {
    top: 5.5rem;
    left: 0;
  }
  .div-menu-movel nav {
    width: 20rem;
    padding: 0;
    transform: translateX(-22rem);
  }
  .div-menu-movel nav ul {
    margin: 0 0 0 0.5rem;
    flex-direction: column;
    align-items: flex-start;
  }
  .div-menu-movel nav li {
    margin-bottom: 2rem;
    pointer-events: auto;
    display: block;
  }
  .div-menu-movel nav li:first-child {
    display: none;
  }
  .div-menu-movel nav li.final {
    display: none;
  }
}
/* Menu Móvel - Compartilhado */
.div-menu-movel--animacao nav {
  transition: all 0.25s ease-in;
}
.div-menu-movel--visivel {
  pointer-events: auto;
}
.div-menu-movel--visivel nav {
  transform: none;
}
.div-menu-movel--visivel.div-menu-movel--animacao nav {
  transition: all 0.5s ease-out;
}
/* Main - Desktop */
main {
  margin: 0 0 0 3.7rem;
  flex: 1;
  z-index: 0;
}
main section {
  user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  -webkit-user-select: none;
}
main section.claro {
  background: #333;
}
main section.escuro {
  background: #222;
}
main section > div {
  width: 70vw;
  min-width: 38rem;
  min-height: 100vh;
  margin: auto;
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
}
main section > div > header {
  width: inherit;
  border-bottom: 0.15rem solid #FFF;
  display: flex;
  justify-content: space-between;
  align-items: center;
  user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  -webkit-user-select: none;
}
main section > div > header h1 {
  color: #FFF;
}
main section > div > header span {
  position: relative;
  width: 3rem;
  height: 3rem;
  background: #6DA8D6;
  border-radius: 0.75rem;
  font-size: 1.4rem;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}
main section > div > header span::after {
  content: "";
  position: absolute;
  top: -1rem;
  right: -1rem;
  bottom: -1rem;
  left: -1rem;
}
main section > div .wrapper-section {
  flex: 1;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  margin: auto;
  overflow: hidden;
}
/* Main - Mobile */
@media only screen and (max-width: 720px) {
  main {
    margin: 5.5rem 0 0 0;
  }
  main section > div {
    min-height: calc((var(--vh, 1vh) * 100) - 5.5rem);
  }
  main section > div header {
    width: 36rem;
  }
}
/*--- PÁGINA INICIAL ---*/
/* Desktop */
#inicio .box-inicio,
#nova-tarefa .box-nova-tarefa {
  position: relative;
  width: 38rem;
  height: 37rem;
  margin: 1rem 0;
}
#inicio .box-inicio .tira {
  z-index: 2;
  position: absolute;
  left: 95%;
  width: 0.15rem;
  height: 50vh;
  background: #DDD;
  transform: translate(-0.0625rem, calc(-50vh + .6rem));
}
#inicio .box-inicio .tira:first-child {
  left: 5%;
}
#inicio .box-inicio .bolinha {
  z-index: 1;
  position: absolute;
  top: .3rem;
  left: 5%;
  width: 1rem;
  height: 1rem;
  background: #333;
  border-radius: 1rem;
  transform: translateX(-0.5rem);
}
#inicio .box-inicio .bolinha:last-of-type {
  left: 95%;
}
#inicio .box-inicio header,
#calendario .box-painel-calendario header {
  width: inherit;
  height: 5rem;
  background: #DDD;
  border-radius: 0.75rem 0.75rem 0 0;
  display: flex;
  align-items: center;
}
#inicio .box-inicio > div,
#calendario .box-painel-calendario > div {
  height: calc(100% - 5rem);
  box-shadow: inset 0 0 0 0.15rem #DDD;
  border-radius: 0 0 0.75rem 0.75rem;
  overflow: hidden;
}
/* Mobile */
@media only screen and (max-width: 720px) {
  #inicio .box-inicio,
  #nova-tarefa .box-nova-tarefa {
    height: 45rem;
  }
}
/*--- NOVA TAREFA ---*/
/* Desktop */
#nova-tarefa .box-nova-tarefa {
  height: 48.6rem;
  margin: 3rem 0 1rem 0;
  padding: 3rem 1rem 1rem 1rem;
  border: 0.15rem solid #DDD;
  border-radius: 0.75rem;
  display: grid;
  grid-auto-rows: min-content;
  grid-template-columns: 1fr 1.75rem 1fr;
  grid-template-areas: "tel1 . endereco" "nome . endereco" "tel2 . data" "radio radio radio" "problema problema problema" "info info info" "botao botao botao";
  user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  -webkit-user-select: none;
}
#nova-tarefa .box-nova-tarefa .box-argolas {
  position: absolute;
  top: -1.6rem;
  left: 0;
  width: 100%;
  height: 3.5rem;
  display: flex;
  justify-content: center;
}
#nova-tarefa .box-nova-tarefa .box-argolas span {
  width: .5rem;
  height: 3rem;
  box-sizing: unset;
  margin: 0 .75rem;
  background: #DDD;
  border: 0.25rem solid #222;
  border-radius: 0.75rem;
}
#nova-tarefa .box-nova-tarefa label {
  display: flex;
  flex-direction: column;
}
#nova-tarefa .box-nova-tarefa label > span {
  font-size: 1.2rem;
  color: #FFF;
  margin: 1rem 0 0.5rem 0;
}
#nova-tarefa .box-nova-tarefa label > span.required::after {
  content: ' *';
  color: #6DA8D6;
}
#nova-tarefa .box-nova-tarefa label input[type="text"],
#nova-tarefa .box-nova-tarefa label textarea,
#nova-tarefa .box-nova-tarefa #wrapper-botao .botao {
  width: 17rem;
  height: 2.5rem;
  padding-left: 0.25rem;
  border: none;
  border-radius: .25rem;
  outline: 0;
  font-family: inherit;
  font-size: 1.2rem;
}
#nova-tarefa .box-nova-tarefa label textarea {
  width: 100%;
  height: 100%;
  padding-top: 0.25rem;
  resize: none;
}
#nova-tarefa .box-nova-tarefa label textarea.textarea--grande {
  height: 8rem;
}
#nova-tarefa .box-nova-tarefa label.box-radio {
  flex-direction: row;
  align-items: center;
  cursor: pointer;
}
#nova-tarefa .box-nova-tarefa label.box-radio input[type="radio"] {
  position: absolute;
  opacity: 0;
  pointer-events: none;
}
#nova-tarefa .box-nova-tarefa label.box-radio .radio-novo {
  width: 1rem;
  height: 1rem;
  margin: 0;
  border-radius: 100%;
  background: #DDD;
}
#nova-tarefa .box-nova-tarefa label.box-radio .radio-texto {
  margin: 0 0.5rem;
}
#nova-tarefa .box-nova-tarefa label.box-radio input[type="radio"]:checked ~ .radio-novo {
  background: #6DA8D6;
}
#nova-tarefa .box-nova-tarefa label.label--erro input,
#nova-tarefa .box-nova-tarefa label.label--erro textarea {
  border: 0.15rem solid red;
}
#nova-tarefa .box-nova-tarefa label#l-nome {
  grid-area: nome;
}
#nova-tarefa .box-nova-tarefa label#l-tel1 {
  grid-area: tel1;
}
#nova-tarefa .box-nova-tarefa label#l-tel2 {
  grid-area: tel2;
}
#nova-tarefa .box-nova-tarefa label#l-endereco {
  grid-area: endereco;
}
#nova-tarefa .box-nova-tarefa label#l-data {
  grid-area: data;
}
#nova-tarefa .box-nova-tarefa label#l-problema {
  grid-area: problema;
}
#nova-tarefa .box-nova-tarefa label#l-info-adicional {
  grid-area: info;
}
#nova-tarefa .box-nova-tarefa #wrapper-botao {
  grid-area: botao;
  margin-top: 1.4rem;
  display: flex;
  justify-content: space-evenly;
}
#nova-tarefa .box-nova-tarefa #wrapper-botao .botao {
  width: 10rem;
  height: 3.5rem;
  padding: 0;
  background: #6DA8D6;
  border-radius: 0.75rem;
  cursor: pointer;
}
#nova-tarefa .box-nova-tarefa #wrapper-botao .botao:first-child {
  display: none;
  color: #6DA8D6;
  border: 0.15rem solid #6DA8D6;
  background: #222;
}
#nova-tarefa .box-nova-tarefa #wrapper-radio {
  grid-area: radio;
  margin-top: 1rem;
  display: flex;
  justify-content: space-evenly;
}
/*--- Calendário ---*/
/* Desktop */
#calendario > div {
  min-width: 60rem;
}
#calendario .box-calendario {
  width: 34rem;
  height: 37rem;
  table-layout: fixed;
  border-spacing: 0;
  margin: 3.2rem .5rem 1rem 0;
  user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  -webkit-user-select: none;
}
#calendario .box-calendario td {
  position: relative;
  width: 2rem;
  height: 5rem;
}
#calendario .box-calendario thead td {
  background: #DDD;
  font-size: 1.4rem;
  text-align: center;
}
#calendario .box-calendario thead td .argola,
#calendario .box-painel-calendario header .argola {
  z-index: 1;
  position: absolute;
  width: 2rem;
  height: 3rem;
  box-sizing: unset;
  background: #DDD;
  border: 0.5rem solid #333;
  border-radius: 0.75rem;
  transform: translate(0, -4.7rem);
}
#calendario .box-calendario thead td:first-child {
  border-radius: 0.75rem 0 0 0;
}
#calendario .box-calendario thead td:last-child {
  border-radius: 0 0.75rem 0 0;
}
#calendario .box-calendario thead td:last-child .argola {
  transform: translate(-205%, -4.7rem);
}
#calendario .box-calendario tbody {
  box-shadow: inset 0 0 0 0.15rem #DDD;
  border-radius: 0 0 0.75rem 0.75rem;
}
#calendario .box-calendario tbody .box-dia {
  position: relative;
  height: 3.5rem;
  width: 3.5rem;
  margin: auto;
  border-radius: 0.75rem;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  color: #FFF;
}
#calendario .box-calendario tbody .box-dia::after {
  content: "";
  position: absolute;
  top: -0.5rem;
  right: -0.5rem;
  bottom: -0.5rem;
  left: -0.5rem;
}
#calendario .box-calendario tbody .dia-normal {
  background: #444;
}
#calendario .box-calendario tbody .dia-final-semana {
  background: #222;
}
#calendario .box-calendario tbody .dia-selecionado {
  background: #6DA8D6;
  color: #000;
}
#calendario .box-painel-calendario {
  width: 25rem;
  height: 37rem;
  margin: 3.2rem 0 1rem .5rem;
  user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  -webkit-user-select: none;
}
#calendario .box-painel-calendario header {
  position: relative;
  display: flex;
  justify-content: space-between;
}
#calendario .box-painel-calendario header .argola {
  top: 0;
  left: 18%;
  transform: translate(-50%, -2.85rem);
}
#calendario .box-painel-calendario header .argola:last-of-type {
  left: 82%;
}
#calendario .box-painel-calendario header .wrapper-mes,
#calendario .box-painel-calendario header .wrapper-ano {
  height: inherit;
  display: flex;
  align-items: center;
}
#calendario .box-painel-calendario header .wrapper-mes img,
#calendario .box-painel-calendario header .wrapper-ano img {
  width: 1.4rem;
  height: 1.4rem;
  box-sizing: unset;
  padding: 1rem;
  cursor: pointer;
}
#calendario .box-painel-calendario header .wrapper-mes #mes {
  width: 7.4rem;
  font-size: 1.4rem;
  text-align: center;
}
#calendario .box-painel-calendario header .wrapper-ano {
  position: relative;
}
#calendario .box-painel-calendario header .wrapper-ano img {
  will-change: transform;
}
#calendario .box-painel-calendario header .wrapper-ano img.ano--animacao {
  transition: 0.35s;
}
#calendario .box-painel-calendario header .wrapper-ano #ano {
  font-size: 1.4rem;
}
#calendario .box-painel-calendario header .wrapper-ano .wrapper-lista-anos {
  position: absolute;
  left: -1.6rem;
  bottom: 0;
  width: 100%;
  overflow: hidden;
  pointer-events: none;
  transform: translateY(100%);
  z-index: 1;
}
#calendario .box-painel-calendario header .wrapper-ano .wrapper-lista-anos .box-lista-anos {
  width: inherit;
  height: 24rem;
  background: #DDD;
  display: flex;
  flex-flow: column nowrap;
  justify-content: space-around;
  align-items: center;
  border-radius: 0 0 0.75rem 0.75rem;
  transform: translateY(-103%);
  will-change: transform;
}
#calendario .box-painel-calendario header .wrapper-ano .wrapper-lista-anos .box-lista-anos span {
  font-size: 1.4rem;
  margin: -1rem;
  padding: 1rem;
  cursor: pointer;
}
#calendario .box-painel-calendario header .wrapper-ano .wrapper-lista-anos--animacao .box-lista-anos {
  transition: all 0.35s ease-in;
}
#calendario .box-painel-calendario header .wrapper-ano .wrapper-lista-anos--visivel {
  pointer-events: auto;
}
#calendario .box-painel-calendario header .wrapper-ano .wrapper-lista-anos--visivel .box-lista-anos {
  transform: none;
}
#calendario .box-painel-calendario header .wrapper-ano .wrapper-lista-anos--visivel.wrapper-lista-anos--animacao .box-lista-anos {
  transition: all 0.5s ease-out;
}
#calendario .box-painel-calendario > div .box-painel-eventos {
  height: calc(100% - 0.3rem);
  margin: 0.15rem;
  padding: 1rem;
  overflow: auto;
}
#calendario .box-painel-calendario > div .box-painel-eventos .box-painel-eventos-item,
#concluir-tarefa .box-concluir-tarefa > div .box-concluir-tarefa-item {
  width: 100%;
  height: 5rem;
  padding: 1rem;
  margin-bottom: 1rem;
  background: #444;
  display: flex;
  flex-flow: column nowrap;
  border-radius: 0.75rem;
  will-change: height;
  overflow: hidden;
  cursor: pointer;
}
#calendario .box-painel-calendario > div .box-painel-eventos .box-painel-eventos-item span {
  margin-bottom: 1rem;
  color: #FFF;
}
#calendario .box-painel-calendario > div .box-painel-eventos .box-painel-eventos-item span:first-child {
  height: 0;
  margin: 0;
  display: none;
}
#calendario .box-painel-calendario > div .box-painel-eventos .box-painel-eventos-item > div {
  align-self: center;
  width: 100%;
  height: 1.8rem;
  box-sizing: initial;
  padding: 1rem 0;
  margin-bottom: 1rem;
  background: #222;
  border-radius: 0.75rem;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  cursor: default;
}
#calendario .box-painel-calendario > div .box-painel-eventos .box-painel-eventos-item > div .wrapper-painel-crud {
  margin: -1rem;
  padding: 1rem;
  display: flex;
  align-items: center;
  cursor: pointer;
}
#calendario .box-painel-calendario > div .box-painel-eventos .box-painel-eventos-item > div .wrapper-painel-crud img {
  width: 1.8rem;
  height: 1.8rem;
}
#calendario .box-painel-calendario > div .box-painel-eventos .box-painel-eventos-item > div .wrapper-painel-crud span {
  margin: 0 0 0 0.5rem;
}
#calendario .box-painel-calendario > div .box-painel-eventos .box-painel-eventos-item--animacao {
  transition: height 0.25s;
}
#calendario .box-painel-calendario > div .box-painel-eventos .box-nova-data {
  width: 100%;
  height: 3rem;
  padding: 1rem;
  margin: 0 auto 1rem auto;
  background: #6DA8D6;
  border-radius: 0.75rem;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}
@media screen and (-webkit-min-device-pixel-ratio: 0) {
  #calendario .box-painel-calendario > div .box-painel-eventos .box-nova-data .box-nova-data {
    margin: 0;
  }
}
#calendario .box-painel-calendario > div .box-painel-eventos .box-nova-data img {
  width: 1.5rem;
  height: 1.5rem;
  margin-right: 0.25rem;
}
#calendario .box-painel-calendario > div .box-painel-eventos .box-nova-data span {
  margin-left: 0.25rem;
}
/* Mobile */
@media only screen and (max-width: 720px) {
  #calendario > div {
    min-width: 38rem;
  }
  #calendario > div .wrapper-section {
    flex-direction: column;
  }
  #calendario .box-calendario {
    height: 34rem;
    margin: 4rem 0 1rem 0;
  }
  #calendario .box-calendario header .argola {
    left: 5.7rem;
  }
  #calendario .box-calendario header .argola:last-child {
    left: calc(100% - 5.7rem);
  }
  #calendario .box-painel-calendario {
    width: 34rem;
    height: 30rem;
    margin: 1rem 0 2rem 0;
  }
  #calendario .box-painel-calendario header .argola {
    display: none;
  }
  #calendario .box-painel-calendario header .wrapper-mes img:first-child {
    margin-left: 1rem;
  }
  #calendario .box-painel-calendario header .wrapper-ano img {
    margin-right: 1rem;
  }
}
/*--- Concluir Tarefa ---*/
/* Desktop */
#concluir-tarefa > div {
  min-width: 60rem;
}
#concluir-tarefa > div .wrapper-section {
  position: relative;
}
#concluir-tarefa .box-bolinhas {
  z-index: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  width: 5rem;
  height: 7rem;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  transform: translate(-28.5rem, -12rem);
}
#concluir-tarefa .box-bolinhas span {
  width: 1.25rem;
  height: 1.25rem;
  background: #DDD;
  border-radius: 100%;
  align-self: flex-start;
}
#concluir-tarefa .box-bolinhas span:first-child {
  width: .6rem;
  height: .6rem;
  margin: 0 1.5rem 1rem 0;
  align-self: center;
}
#concluir-tarefa .box-bolinhas span:last-child {
  width: 2.5rem;
  height: 2.5rem;
  align-self: flex-end;
}
#concluir-tarefa .box-concluir-tarefa {
  z-index: 1;
  width: 50rem;
  height: 30rem;
  margin: 1rem 3.5rem;
  background: #222;
  border: 0.15rem solid #DDD;
  border-radius: 0.75rem;
  overflow: hidden;
}
#concluir-tarefa .box-concluir-tarefa > div {
  width: 100%;
  height: 100%;
  padding: 1rem;
  overflow: auto;
}
#concluir-tarefa .box-concluir-tarefa > div .box-concluir-tarefa-item {
  height: 10rem;
  background: #333;
  display: block;
  will-change: height;
}
#concluir-tarefa .box-concluir-tarefa > div .box-concluir-tarefa-item--animacao {
  transition: 0.25s;
}
#concluir-tarefa .box-concluir-tarefa > div .box-concluir-tarefa-item:last-child {
  margin: 0;
}
#concluir-tarefa .box-concluir-tarefa > div .box-concluir-tarefa-item .info {
  width: 100%;
  height: 8rem;
  display: flex;
  flex-flow: column wrap;
}
#concluir-tarefa .box-concluir-tarefa > div .box-concluir-tarefa-item .info span {
  height: 1.2rem;
  margin: 0.4rem 0;
  color: #FFF;
  font-size: 1.2rem;
}
#concluir-tarefa .box-concluir-tarefa > div .box-concluir-tarefa-item form {
  width: 100%;
  height: 9rem;
  margin-top: 1rem;
  border-top: 0.15rem solid #DDD;
  padding-top: 1rem;
}
/* Mobile */
@media only screen and (max-width: 720px) {
  #concluir-tarefa > div {
    min-width: 38rem;
  }
  #concluir-tarefa .box-bolinhas {
    width: 4rem;
    transform: translate(-18rem, -28rem);
  }
  #concluir-tarefa .box-concluir-tarefa {
    width: 38rem;
    height: 50rem;
    margin: 6rem 0 1rem 0;
  }
}
/*--- Ajuda ---*/
/* Desktop */
.overlay-ajuda {
  display: none;
  z-index: 30;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  padding-left: 3.7rem;
  background: rgba(0, 0, 0, 0.8);
  align-items: center;
  justify-content: center;
  user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  -webkit-user-select: none;
}
.overlay-ajuda div {
  width: 36rem;
  padding: 1rem;
  background: #6DA8D6;
  border-radius: 0.75rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.overlay-ajuda div span {
  margin: 1rem 0;
  font-size: 1.2rem;
  text-align: center;
}
/* Mobile */
@media only screen and (max-width: 720px) {
  .overlay-ajuda {
    padding: 0;
  }
  .overlay-ajuda div span {
    font-size: 1.5rem;
  }
}
