@import url('https://fonts.googleapis.com/css?family=Montserrat');

body {
    margin: 0;
    padding: 0;
    background: linear-gradient(315deg, #222, #6DA8D6);
    background-attachment: fixed;
    font-family: "Montserrat", sans-serif;
    display: flex;
    align-items: center;
    justify-content: center;
    min-width: 40rem;
    min-height: 30rem;
}

/*///////////////// Fundo que corta a visão /////////////*/
.fundo {
    height: 19.5rem;
    width: 20.2rem;
    background-color: #222;
    overflow: hidden;
    border: 1.5rem solid #222;
    border-radius: 0.75rem;
    display: flex;
    flex-direction: column;
    flex-shrink: 0;
}

/*////////////////////////// Parte que contem os dois forms ////////////*/
.interno {
    align-self: flex-end;
    width: 42rem;
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
}

/*////////////////// Classes em comum //////////////////////*/
.texto {
    color: #DDD;
    font-size: 1.2rem;
    font-weight: bold;
    margin-bottom: 0.5rem;
}

.textoinput {
    padding-left: 0.5rem;
    padding-right: 0.5rem;
    outline: 0;
    border: 0.1rem solid #DDD;
    border-radius: 0.5rem;
    background: #DDD;
    font-size: 1.2rem;
    font-family: inherit;
    font-weight: bold;
    height: 2.5rem;
}

.flex-box-botoes {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.botao {
    padding: 1rem 2rem 1rem 2rem;
    border: none;
    border-radius: 12px;
    outline: 0;
    background: #6DA8D6;
    color: #000;
    font-size: 1.2rem;
    font-family: inherit;
    font-weight: bold;
    text-transform: capitalize;
    cursor: pointer;
}

.botao:hover {
    background: #DDD;
}

.link {
    text-decoration: none;
}

.link:hover {
    color: #6DA8D6;
}

.animacao {
    transition: 0.25s ease-in;
}


/*/////////////////////// Classes referentes ao login //////////////////////*/
.login {
    width: 20rem;
    height: 19.5rem;
    display: flex;
    flex-direction: column;
    margin: 0;

}

.login div {
    display: flex;
    flex-direction: column;

}



label {
    cursor: pointer;
}

.save {
    margin: 2px 0.25rem 0 0;
    cursor: pointer;
}

.login .flex-box-botoes {
    margin-top: 1.3rem;
}

/*/////////////////////// Classes referentes ao registrar //////////////////////*/
.registrar {
    width: 20rem;
    display: flex;
    flex-direction: column;
    margin: 0;
}

.botao-desabilitado {
    background-color: #aaa;
}

.botao-desabilitado:hover {
    background-color: #aaa;
}




/* Classes para verificar a validade do dado */
.form-erro {
    border: 0.1rem solid #e61919;
}

.form-sucesso {
    border: 0.1rem solid #00a000;
}

.ajuda {
    margin-top: 0.25rem;
    min-height: 1rem;
    margin-bottom: 0.7rem;
}

.ajuda-erro {
    color: #e61919;
    font-size: 0.9rem;
}