//Fonte Utilizada
@import url('https://fonts.googleapis.com/css?family=Montserrat');

//Cores
@branco-fonte:  #FFF;
@branco-fundo:  #DDD;
@azul:          #6DA8D6;
@preto-fundo:   #111;
@preto-fonte:   #000;

@azul-filter: invert(82%) sepia(21%) saturate(5895%) hue-rotate(177deg) brightness(92%) contrast(81%);
@branco-filter: invert(75%) sepia(96%) saturate(1%) hue-rotate(327deg) brightness(97%) contrast(97%);

//Tamanhos 
@mobile : ~"only screen and (max-width: 720px)";

/* Básico - Desktop */
body {
    margin: 0;
    padding: 0;
    font-family: 'Montserrat', sans-serif;
    font-size: 1rem;
    line-height: 1;
    display: grid;
    grid-template-columns: 3.75rem auto;
    grid-template-rows: 100vh;
    grid-template-areas: "menu main";
}
a {
    cursor: pointer;
    text-decoration: none;
    color: inherit;
}

/* Básico - Mobile */
@media @mobile {
    body {
        grid-template-columns: auto;
        grid-template-rows: 4.75rem auto;
        grid-template-areas: "menu" "main";    
    }   
}

/* Menu Fixo - Desktop */
.menu-fixo {
    grid-area: menu;
    padding: 1.5rem 0 1.5rem 0;
    background: @preto-fundo;
    color: @branco-fonte;
    z-index: 20;

    ul {
        height: 100%;
        margin: 0 0 0 0.975rem;
        padding: 0;
        list-style: none;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        overflow: hidden;
    }
    li {
        margin-bottom: 1.5rem;

        &.final {
            margin: auto 0 0 0;
            &:last-child {
                margin: 1.5rem 0 0 0;
            }
        }
        a {
            display: flex;
            flex-wrap: nowrap;
            align-items: center;
        }
    }
    img {
        width: 1.8rem;
        height: 1.8rem;
        filter: @branco-filter;
    }
    span {
        display: none;
        font-size: 1.4rem;
        margin-left: 1rem;
    }
}

/* Menu Fixo - Mobile */
@media @mobile {
    .menu-fixo {
        position: sticky;
        top: 0;
        padding: 0 1.5rem 0 1.5rem;
        
        ul {
            margin: 0;
            flex-direction: row;
            align-items: center;
        }
        li {
            margin: 0;
            img {
                display: none;
            }              
            &:first-child {
                img {
                    display: block;
                }
            }            
            &.final {
                margin: auto 0 auto auto;
                &:last-child {
                    margin: auto 0 auto 1.5rem;
                }
                img {
                    display: block;
                }
            }
        }
        span {
            display: block;
        }
    }
}

/* Menu Móvel - Desktop */
.menu-movel {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 3.75rem;    
    overflow: hidden;
    pointer-events: none; //previne que ocorra clique por cima dessa div
    z-index: 10;

    div {
        width: 18rem;
        height: calc(~"100% - 3rem");
        padding: 1.5rem 0 1.5rem 0;
        background: @preto-fundo;
        transform: translateX(-20rem);
        will-change: transform; //reserva recursos para que a animação seja fluida;

        ul {
            &:extend(.menu-fixo ul);
            margin: 0;
        }
        li {
            &:extend(.menu-fixo li);

            &.final {
                &:extend(.menu-fixo li.final);
                &:last-child {
                    &:extend(.menu-fixo li.final:last-child);
                }
            }
            a {
                &:extend(.menu-fixo li a);
                height: 1.8rem;
                color: @branco-fonte;
            }
        }
        span {
            &:extend(.menu-fixo span);
            display: block;
        }
    }
}

/* Menu Móvel - Mobile */
@media @mobile {
    .menu-movel {
        top: 4.75rem;
        left: 0;
        
        div {
            height: 100%;
            width: 20rem;
            padding: 0;
            transform: translateX(-22rem);

            ul {
                margin: 0 0 0 0.5rem;
                flex-direction: column;
                align-items: flex-start;
            }
            li {
                margin-bottom: 1.5rem;

                &:first-child {
                    display: none;
                }
                &.final {
                    display: none;
                }
            }
        }
    }
}

/* Menu Móvel - Compartilhado */
.menu-movel--animacao {
    div {
        transition: all 0.25s ease-in;
    }
}
.menu-movel--visivel {
    pointer-events: auto;

    div {
        transform: none;
    }
    &.menu-movel--animacao div {
        transition: all 0.5s ease-out;
    }
}

/* Main - Desktop */
main {
    grid-area: main;
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: 100vh 100vh 100vh 100vh;
    overflow: auto;
    z-index: 0;
}

/* Main - Mobile */
@media @mobile {
    main {
        overflow: initial;
    }
}