//Fonte Utilizada
@import url('https://fonts.googleapis.com/css?family=Montserrat');

//Cores
@branco-fonte:  #FFF;
@branco-fundo:  #DDD;
@azul:          #6DA8D6;
@cinza-claro:   #333;
@cinza-escuro:  #222;
@preto-fundo:   #111;
@preto-fonte:   #000;

@azul-filter: invert(82%) sepia(21%) saturate(5895%) hue-rotate(177deg) brightness(92%) contrast(81%);
@branco-filter: invert(75%) sepia(96%) saturate(1%) hue-rotate(327deg) brightness(97%) contrast(97%);

//Strings 
@mobile: ~"only screen and (max-width: 720px)";

//Tamanhos
@max-width: 45rem;

/* Básico - Desktop */
body {
    margin: 0;
    padding: 0;
    font-family: 'Montserrat', sans-serif;
    font-size: 1rem;
    line-height: 1;
    display: flex;
    flex-flow: row nowrap;
}
a {
    cursor: pointer;
    text-decoration: none;
}

h1 {
    margin: 0;
    font-size: 2rem;
}

/* Básico - Mobile */
@media @mobile {
    body {
        flex-flow: column nowrap;  
    }   
}

/* Menu Fixo - Desktop */
.menu-fixo {
    position: fixed;
    top: 0;
    left: 0;
    width: 3.7rem;
    height: calc(~"100% - 3rem");
    padding: 1.5rem 0 1.5rem 0;
    background: @preto-fundo;
    color: @branco-fonte;
    z-index: 20;

    ul {
        height: 100%;
        margin: 0 0 0 0.95rem;
        padding: 0;
        list-style: none;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
    }
    li {
        margin-bottom: 1.5rem;

        &.final {
            margin: auto 0 0 0;
            &:last-child {
                margin: 1.5rem 0 0 0;
            }
        }
        &.active img {
            filter: @azul-filter;
        }
        a {
            margin: -1rem;
            padding: 1rem;
            display: flex;
            flex-wrap: nowrap;
            align-items: center;
            color: @branco-fonte;
        }
    }
    img {
        width: 1.8rem;
        height: 1.8rem;
        filter: @branco-filter;
    }
    span {
        display: none;
    }
}

/* Menu Fixo - Mobile */
@media @mobile {
    .menu-fixo {
        width: calc(~"100% - 3rem");
        height: 5.5rem;
        padding: 0 1.5rem 0 1.5rem;
        
        ul {
            margin: 0;
            flex-direction: row;
            align-items: center;
        }
        li {
            margin: 0;
            display: none;

            &:first-child, &.final {
                display: block;
            }            
            &.final {
                margin: auto 0 auto auto;
                &:last-child {
                    margin: auto 0 auto 1.5rem;
                }
            }
        }
        img {
            width: 2rem;
            height: 2rem;
        }              
        span {
            display: block;
            font-size: 1.6rem;
            margin-left: 1rem;
        }
    }
}

/* Menu Móvel - Desktop */
.div-menu-movel {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 3.7rem;    
    overflow: hidden;
    pointer-events: none; //previne que ocorra clique por cima dessa div
    z-index: 10;

    nav {
        width: 18rem;
        height: calc(~"100% - 3rem");
        padding: 1.5rem 0 1.5rem 0;
        background: @preto-fundo;
        transform: translateX(-20rem);
        will-change: transform; //reserva recursos para que a animação seja fluida;

        ul {
            &:extend(.menu-fixo ul);
            margin: 0;
        }
        li {
            &:extend(.menu-fixo li);

            &.final {
                &:extend(.menu-fixo li.final);
                &:last-child {
                    &:extend(.menu-fixo li.final:last-child);
                }
            }
            a {
                &:extend(.menu-fixo li a);
                height: 1.8rem;
            }
            &.active a {
                color: @azul;
            }
        }
        span {
            font-size: 1.4rem;
            margin-left: 1rem;
        }
    }
}

/* Menu Móvel - Mobile */
@media @mobile {
    .div-menu-movel {
        top: 5.5rem;
        left: 0;
        
        nav {
            width: 20rem;
            height: 100%;
            padding: 0;
            transform: translateX(-22rem);

            ul {
                margin: 0 0 0 0.5rem;
                flex-direction: column;
                align-items: flex-start;
            }
            li {
                margin-bottom: 2rem;
                pointer-events: auto;
                display: block;

                &:first-child {
                    display: none;
                }
                &.final {
                    display: none;
                }
            }
        }
    }
}

/* Menu Móvel - Compartilhado */
.div-menu-movel--animacao {
    nav {
        transition: all 0.25s ease-in;
    }
}
.div-menu-movel--visivel {
    pointer-events: auto;

    nav {
        transform: none;
    }
    &.div-menu-movel--animacao nav {
        transition: all 0.5s ease-out;
    }
}

/* Main - Desktop */
main {
    margin: 0 0 0 3.7rem;
    flex: 1;
    z-index: 0;

    section {
        height: 100vh;

        &.claro {
            background: @cinza-claro;
        }
        &.escuro {
            background: @cinza-escuro;
        }
        &>div {
            width: 70vw;
            min-width: 45rem;
            min-height: 100%;
            max-height: fit-content;
            margin: auto;
            display: flex;
            flex-flow: column nowrap;
            align-items: center;

            header {
                width: 100%;
                border-bottom: 0.08rem solid @branco-fonte;

                h1 {
                    color: @branco-fonte;
                    margin: 1rem;
                }
            }
            .wrapper-section {
                flex: 1;
                display: flex;
                flex-wrap: wrap;
                align-items: center;
                justify-content: center;
                margin: auto;
            }
        }
    }
}

/* Main - Mobile */
@media @mobile {
    main {
        margin: 5.5rem 0 0 0;

        section {
            min-height: calc(~"100vh - 5.5rem");
    
            &>div {
                header {
                    width: calc(~"100% - 2rem");
                }
            }
        }
    }
}