//Fonte Utilizada
@import url('https://fonts.googleapis.com/css?family=Montserrat');

//Cores
@branco-fonte:  #FFF;
@branco-fundo:  #DDD;
@azul:          #6DA8D6;
@preto-fundo:   #111;
@preto-fonte:   #000;

@azul-filter: invert(82%) sepia(21%) saturate(5895%) hue-rotate(177deg) brightness(92%) contrast(81%);
@branco-filter: invert(75%) sepia(96%) saturate(1%) hue-rotate(327deg) brightness(97%) contrast(97%);

/* Básico */
body {
    margin: 0;
    padding: 0;
    font-family: 'Montserrat', sans-serif;
    font-size: 1rem;
    line-height: 1;
    display: grid;
    grid-template-columns: 3.75rem auto;
    grid-template-rows: 100vh;
    grid-template-areas: "menu main"
}

a {
    cursor: pointer;
    text-decoration: none;
}

/* Menu */
.menu {
    grid-area: menu;
    padding: 1.5rem 0 1.5rem 0;
    background: @preto-fundo;
    color: @branco-fonte;

    ul {
        height: 100%;
        margin: 0;
        padding: 0;
        list-style: none;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    li {
        margin-bottom: 1.5rem;

        &.final {
            margin: auto auto 0 auto;
            &:last-child {
                margin: 1.5rem auto 0 auto;
            }
        }
    }
    img {
        width: 1.8rem;
        height: 1.8rem;
        filter: @branco-filter;
    }
}

/* Main */
main {
    grid-area: main;
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: 100vh 100vh 100vh 100vh;
    overflow: auto;
}

//Mobile e Desktop de Baixa Resolução
@media only screen and (max-width: 720px) {
    body {
        grid-template-columns: auto;
        grid-template-rows: 4.75rem auto;
        grid-template-areas: "menu" "main";    
    }    
    
    .menu {
        position: sticky;
        top: 0;
        padding: 0 1.5rem 0 1.5rem;

        ul {
            flex-direction: row;
        }
        li {
            margin: 0 1.5rem 0 0;

            &.final {
                margin: auto 0 auto auto;
                &:last-child {
                    margin: auto 0 auto 1.5rem;
                }
            }
        }
    }

    main {
        overflow: initial;
    }
}